* {
    padding: 0;
    margin: 0;
}
*::after {
    padding: 0;
    margin: 0;
}
*::before {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
ol,ul {
    list-style: none;
}
body {
    overflow: hidden;
}
.page {
    display: flex;
    flex-wrap: wrap;
}
.page>div {
    border: 1px solid grey;
    width: 50vw;
    height: 50vh;
}
